* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s ease;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;

}

.blog {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.blog h1 {

    margin-bottom: 30px;
}

.blog p span {
    color: white;
    background-color: black;
}

.blog p {
    margin-bottom: 10px;
    font-size: 20px;
}

.parent {
    display: flex;
    padding: 20px;
    margin-top: 60px;
}

.first {
    /* border: 0px solid black; */
    margin-right: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(7, 4, 4);
}

.first img {
    width: 800px;
}

.first h2 {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.first h5 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.first p {
    margin-left: 10px;
}

.first p span {
    background-color: black;
    color: white;
    padding: 2px 5px;
}


.second {
    border: 0px solid black;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(7, 4, 4);
}

.second h2 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.second p {
    margin-left: 10px;
    margin-bottom: 10px;
}




.third {
    /* border: 0px solid black; */
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(7, 4, 4);
    width: 800px;
}

.third img {
    width: 800px;
}

.third h2 {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.third h5 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.third p {
    margin-left: 10px;
}

.third p span {
    background-color: black;
    color: white;
    padding: 2px 5px;
}

.button {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

footer {
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 50px;
}
